.container-contato{

    background-color: transparent;
    height: 130vh;
    width: 45%;
    margin: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 50px;
    margin: 50px auto;


}

.content-contato{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    align-content: center;

    width: 85%;
    height: 100%;
    padding: 50px 20px 80px 20px ;

    background-image: linear-gradient(to bottom, rgb(0, 81, 134), rgb(3, 70, 114) );
    border-radius: 20px;
}



.content-contato h2{

    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 80px;
    background-color: transparent;

}

.content-contato input, .content-contato label, .content-contato button{

    color: white;

}

input:focus, label:focus, button:focus{

    outline: none;
    

}

.content-contato input{

    color: rgb(255, 255, 255);
    border-bottom: 2px  solid rgb(255, 255, 255);
    border-top: 0;
    border-left: 0;
    border-right:0 ;
    border-radius: 5px;
    width: 200px;
    padding: 3px;
    outline-style: none;

}

.content-contato input:focus{

    color: rgb(255, 255, 255);
    border-bottom: 2px  solid rgb(6, 137, 177);
    border-radius: 10px;
    width: 220px;
    transition: 0.25s;

}

.content-contato input::placeholder{

    color: rgba(255, 255, 255, 0.226);
    font-size: 13px;
    font-style: italic;

}



form#contato{

    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}

.separator li{

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.separator{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}



.cont{

    display: flex;
    height: 500px;
    width: 100%;
    justify-content: space-between;
    
}

.cont p{

    color:aliceblue

}

.cont.i{

    width: 80%;

}

.cont.ii{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.cont.ii h2{

    margin: 60px 0;
    width: 100%;
    font-size: 27px;

}

.cont.ii .planos{

    width: 72%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.cont.ii .planos .plano{

    width: 30%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    transition: 0.5s;

}

i.far{

    color: rgb(0, 204, 10); 

}



button.submit{

    border: 0;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 800px;

}

button.submit:hover{

    border-radius: 20px;
    color: rgb(70, 221, 0);
    font-size: 21px;
    transition: 0.25s;
    cursor: pointer;

}



::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
