.content-home{

    margin: 80px auto;
width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.destinos{

    width: 100%;

}

.content-home h1.hiperTitle{

   
    color:rgb(240, 130, 0) ;
}

.intro{

    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
    max-width: 1127px;
    margin: auto auto 100px auto;

    justify-content: center;


}

.txt{
width: 40%;

}

.introtxt{

    font-weight: 500;
    font-size: 20px;
    color: rgb(70, 70, 70);
    width: 90%;

}

.title.dest{

color: #574a36;
    font-size: 25px;
    font-weight: 600;
    margin: 70px 0 20px 0;

}

.hr.homehr{

    width: 64%;
    max-width: 1200px;
    margin: 90px 0;

}


.places{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.place p{

    margin: 0 0 0 50px;
    width: 100%;
    max-width: 300px;
    font-size: 19px;
    font-weight: 500;
    color: #50432e;

}

.place{
    border-radius: 3px;
    border: 1px solid rgba(83, 83, 83, 0);
    width: 70%;
    max-width: 800px;
    margin: auto;
    height: 200px;
    display: flex;
    padding: 3%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;

    margin: auto;

    color: rgb(70, 70, 70);

  
}



.img.cid img{

    border-radius: 3px;

}

.img{

    
    width: 350px;
    max-width: 350px;
    height: 180px;

}

.facatxt{

    font-weight: 400;
    font-size: 20px;
    color: rgb(70, 70, 70);
    font-style: oblique;

}

a.aHome{
    font-weight: 400;
    color: rgb(240, 130, 0);
    text-decoration: underline;

}

.sobre-home{
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    max-width: 800px;
    margin: auto;
    display: flex;

    margin: 40px auto 50px auto;

}

.sobreTxt{
    font-weight: 500;
    width: 50%;
color: rgb(70, 70, 70);
    font-size: 20px;

}

.sobreTxt a{

    font-weight: 500;

}

h1.hiperTitle.homeTitle{

    
font-weight: 700;

}

@media only screen and (min-width: 300px) and (max-width: 980px) {
    .img img{

        width: 250px;
        height: 130px;
        
    }

    .img{
        display: flex;

        align-items: center;
        justify-content: center;

    }

    .content-home .sobreTxt, .content-home .txt{

        margin-left: 100px;

    }

    .title.dest{

        margin-bottom: 50px;

    }

    .intro{

        margin-bottom: 60px;

    };
}

@media only screen and (min-width: 300px) and (max-width: 680px){

    /*header hamburguer*/

}

@media only screen and (min-width: 300px) and (max-width: 768px){

    /*conteudo*/

}
