.content-home{

    margin: 80px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 45vh;

}

.homeAdm h3{

    color: var(--color-txtheader);

}

.homeAdm h1.hiperTitle, .homeAdm h1.hiperTitle i{

    color: rgb(179, 54, 54);

}