.content-home{

    margin: 80px auto;
width: 75%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}



.content-home h1.hiperTitle{

   
    color:rgb(240, 130, 0) ;
}

