header{

    width: 100%;
    max-width: 1350px;
    height: 66px;
    display: flex;
    margin: auto;

}


nav#header{

    padding: 0 10%;

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}

ul#ulpai{

    
   height: 100%;
   width: 35%;
    padding: 0;
    display: flex;
   align-items: center;
   
}

li.ponta.i{

    margin-right: 23%;

}

li.ponta.ii{

    margin-left: 23%;

}

header li a{

    transition: color 0.25s;

}

header li a:hover,  header li i:hover{

    color: rgb(240, 130, 0);
    transition: color 0.25s;

}

