header#adm{

    width: 100%;
    max-width: 1350px;
    height: 62px;
    display: flex;
    margin-top: 20px;

}

header#adm .container{

    width: 42%;
    margin: auto;

}
#adm nav#header{

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}

#adm ul#ulpai{

    
   height: 100%;
   width: 40%;
    padding: 0;
   text-align: center;
   align-items: center;
   
}

#adm li.ponta.i{

    margin-right: 23%;

}

#adm li.ponta.ii{

    margin-left: 23%;

}

header#adm li a{

    transition: color 0.25s;

}

header#adm li a:hover,  header#adm li i:hover{

    color: rgb(153, 33, 33);
    transition: color 0.25s;

}

header#adm li a{

    position: absolute;

}
