.content-pedidos {
    
    margin: 80px auto;
    display: flex;
    width:100%;
    max-width: 1300px;
    padding: 0;
    box-sizing: border-box;

    max-width: 1380px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.content-pedidos h1{

    font-size: 50px;
    width: 100%;
    color: #dd6b00;
    text-align: center;

}

.container.pedidos{

    margin-top: 0;

}

.pedidos {

    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 3vw;

}


.pedido{

    
    border: 1px solid var(--color-border);
    padding: 10px;

}

.pedido button:hover{

    cursor: pointer;

}



@media (max-width: 1330px){

    .content-pedidos{

        padding: 2vw;

    }

}

@media (max-width: 1100px){

    .content-pedidos h1{

        font-size: 40px;

    }

    .pedido p, .pedido button{

        font-size: 18px;

    }
   
}
@media (max-width: 800px){

    .content-pedidos h1{

        font-size: 30px;

    }
    .pedido p, .pedido button{

        font-size: 16px;

    }

}
@media (max-width: 425px){

    .content-pedidos h1{

        font-size: 25px;

    }.pedido p, .pedido button{

        font-size: 14px;

    }

}