.content-pedidos {
    
    margin: 80px auto;
    display: flex;
    width:55%;

    max-width: 1380px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.content-pedidos h1{

    font-size: 50px;
    color: #dd6b00;

}

.container.pedidos{

    margin-top: 0;

}

.pedidos {

    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}

.pedido{

    margin-bottom: 20px;
    margin-right: 20px;
    border: 1px solid var(--color-border);
    padding: 10px;

}

.pedido button:hover{

    cursor: pointer;

}