.container.sobre{

    text-align: center;
    margin: auto;
    position: relative;
    z-index: 2;

}

.content-sobre{

    width: 100%;
    margin: 80px auto 255px auto;

}

.contSobre{

    display: flex;
    align-items: center;
    justify-content: center;

}

.content-sobre .sobreTxt{

    border: 1px solid rgba(75, 75, 75, 0.808);
    border-radius: 3px;
    padding: 1% 2%;
   
   
    max-width: 780px;
    margin: auto;
  
    background-color: rgb(255, 253, 242);

}

.content-sobre p{

    font-size: 21px;
    color: rgb(54, 54, 54);

}



.title.sup{

    color: #f09941

}
