.container.sobre{

    text-align: center;
    margin: auto;
    position: relative;
    z-index: 2;

}

.content-sobre{

    width: 100%;
    margin: 80px auto 255px auto;

}

.contSobre{

    display: flex;
    align-items: center;
    justify-content: center;

}

.content-sobre .sobreTxt{

    border: 1px solid var(--color-border);
    border-radius: 3px;
    padding: 1% 2%;
   
   
    max-width: 780px;
    margin: auto;
  

}

.content-sobre p{

    font-size: 21px;
    color: var(--color-txttwo);

}




.title.sup{

    color: var(--color-temapages)

}


@media (max-width: 450px){

    .title.sup{

        font-size: 37px;
        
    }

    .content-sobre p{

        font-size: 16px;
    }

    

}

@media (max-width: 885px){


    .title.sup{

        
        margin: 30px auto;

    }
    .content-sobre{
        box-sizing: border-box;
            padding: 10vw;
        
        }

        .content-sobre .sobreTxt{

            border: 0;
    
        }

}