.content-sup {

    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    max-width: 1390px;
    box-sizing: border-box;
    
}

.content-sup h1{

    font-size: 50px;
    color: #b43555;
    
}




.suporte{

    margin-bottom: 20px;
    border: 1px solid var(--color-border);
    padding: 10px;

}


@media (max-width: 1330px){

    .content-sup{

        padding: 2vw;

    }

}

@media (max-width: 1100px){

    .content-sup h1{

        font-size: 40px;

    }

    .suporte p, .suporte button{

        font-size: 18px;

    }
   
}
@media (max-width: 800px){

    .content-sup h1{

        font-size: 30px;

    }
    .suporte p{

        font-size: 16px;

    }

}
@media (max-width: 425px){

    .content-sup h1{

        font-size: 25px;

    }.suporte p{

        font-size: 14px;

    }

}