.container.termos{

    text-align: center;
    margin: auto;
    position: relative;
    z-index: 2;

}

.content-termos{

    width: 60%;
    margin: 150px auto 300px auto;

}



.content-termos p{

    font-size: 19px;
    font-style: italic;
    color: var(--color-txttwo);

}

.termosTxt{

    padding: 40px;
    border: 1px solid var(--color-border);
    max-width: 780px;
    margin: auto;

}

