.container.sobre{

    text-align: center;
    margin: auto;
    position: relative;
    z-index: 2;

}

.content-sobre{

    width: 60%;
    margin: 150px auto 300px auto;

}



.content-sobre p{

    font-size: 19px;
    font-style: italic;
    color: var(--color-txtTwo);

}

.sobreTxt{

    padding: 40px;
    border: 1px solid var(--color-border);
    max-width: 780px;
    margin: auto;


}

