<%- include('parts/page-head', { title : 'Contato', linkCSS : 'css/contato.css', linkCSS2 : '', linkCSS3 : ''}) %>
<script src="/script/validaca.js"></script>
<script src="/script/mask.js"></script>


<body>
    
    <!--Header-->

    <!--no title vai uma variável string que sera mostrada diferente para cada pagina-->
    <%- include('parts/page-header', { }) %>

    <!--Header-->

    <div class="container-contato">

        <div class="content-contato">

            <h2>Faça seu Pedido</h2>

            


            <form id="contato" action="/contato" method="POST" >

                <div class="cont i">

                    <ul class="separator pessoais">

                        <li><label for="nome-completo">Nome Completo</label>
                        <input placeholder="Digite seu nome completo" name="nomeCompleto" type="text" minlength="4" maxlength="30" ></li>
                        <li><label for="email">Email</label>
                        <input placeholder="Digite seu email" name="email" type="email" ></li>
                        <li><label for="cpf">CPF</label>
                        <input onInput= "mask(this, 'cpf')" id="cpf" type="text" placeholder="Ex.: xxx.xxx.xxx-xx"  name="cpf" maxlength="14"></li>
                        <li><label for="data-nasc">Data de Nascimento</label>
                        <input onInput= "mask(this, 'data')" id="data-nasc" type="text" placeholder="Ex.: dd/mm/aaaa"  name="dataNasc">  

                    </ul>

                    <ul class="separator endereco">

                        <li><label for="cep">CEP</label>
                        <input onInput="mask(this, 'cep')" id="cep" type="text" placeholder="Ex.: xxxxx-xxx"  name="cep" maxlength="8" ></li>
                        <li><label for="estado">Estado</label>
                        <input placeholder="Digite seu estado" name="estado" type="text" ></li>
                        <li><label for="cidade">Cidade</label>
                        <input placeholder="Digite sue cidade" name="cidade" type="text" ></li>
                        <li><label for="bairro">Bairro</label>
                        <input placeholder="Digite seu bairro" name="bairro" type="text" ></li>
                        <li><label for="rua">Rua</label>
                        <input placeholder="Digite sua rua" name="rua" type="text" ></li>
                        <li><label for="numero">Número</label>
                        <input placeholder="Digite seu número" name="numero" type="text" ></li>                 

                    </ul>

                </div>

                <div class="cont ii">

                    <h2>Escolha aqui seu plano de viagem</h2>

                    <div class="planos">

                        <div class="plano i">

                            
                            <input type="radio" class="check" name="check" id="planoi"  value="aaa" > 
                            <label for="planoi"><i class="far fa-check-circle" ></i>aaa</label>

                        </div>

                        <div class="plano ii">

                            
                            <input type="radio" class="check" name="check" id="planoii" value="bbb">
                            <label for="planoii"><i class="far fa-check-circle" ></i>bbb</label>

                        </div>

                        <div class="plano iii">

                            
                            <input type="radio" class="check" name="check" id="planoiii" value="ccc">
                            <label for="planoiii"><i class="far fa-check-circle" ></i>ccc</label>

                        </div>

                    </div>

                </div>

                <button type="submit" class="submit">
                    <i class="fas fa-arrow-right"></i>
                </button>

            </form>
    
        </div>

    </div>

</body>
</html>
