<!DOCTYPE html>
<html lang="pt-BR">

<%- include('./parts/page-head', { title : 'Home', linkCSS : 'css/home.css', linkCSS2 : '', linkCSS3 : ''}) %>
<%- include('./parts/page-header') %>

<body>
    <div class="container home">

        <div class="content-home">

            <h1 class="hiperTitle animate__animated animate__bounceInDown">PASS!</h1>
            <h2 class="sub">-- Bem vindo viajante --</h2>

<div class="hr"></div>
        </div>

        
           
    </div>
    

</body>
<%- include('parts/footer') %>
</html>