<!DOCTYPE html>
<html lang="pt-BR">

<%- include('./parts/page-head', { title : 'Home', linkCSS : 'css/home.css', linkCSS2 : '', linkCSS3 : ''}) %>
<%- include('./parts/page-header') %>

<body>
    
    <h2>Home PASS</h2>

</body>

</html>