<!DOCTYPE html>
<html lang="pt-BR">

<%- include('./parts/page-head', { title : 'Home', linkCSS : 'css/home.css', linkCSS2 : '', linkCSS3 : ''}) %>
<%- include('./parts/page-header') %>

<body>
    <div class="container home">

        <div class="content-home">

            <h1 class="hiperTitle animate__animated animate__bounceInDown">PASS!</h1>
            <h2 class="sub">-- Bem vindo viajante --</h2>

<div class="hr"></div>

            <div class="destinos">

                <h3>Nossos destinos</h3>
                <div class="places">

                    <div class="place paris">

                        <div class="img"></div>
                        <p>Centro mundial de arte, moda, gastronomia e cultura. 
                            Sua paisagem urbana é cortada por avenidas largas 
                            e pelo rio Sena. A cidade é 
                            conhecida por monumentos como a Torre Eiffel e a Catedral de
                             Notre-Dame.</p>

                    </div>
                    <div class="place ny">

                        <div class="img"></div>
                        <p>Entre seus pontos emblemáticos, destacam-se arranha-céus, 
                            como o Empire State Building, e o enorme Central Park. O teatro da 
                            Broadway fica em meio às luzes de neon da Times Square.</p>
                    </div>
                    <div class="place cancun">

                        <div class="img"></div>
                        <p>Cancún, uma cidade mexicana situada na Península de Iucatã, 
                            na costa do Mar do Caribe, é conhecida por suas praias, 
                            seus vários resorts e sua vida noturna. </p>

                    </div>

                </div>

            </div>

            <div class="sobre-home">

                <p>A PASS tem ótimas avaliações dos usuários,
                    entregando um atendimento de ponta, com recursos
                    e produtos incríveis.
                    Viagens e planos super acessíveis para todos.
                    Para saber mais acesse <a href="/sobre">Sobre Nós</a>. 

                </p>

            </div>

        </div>

        
           
    </div>
    

</body>
<%- include('parts/footer') %>
</html>