<!DOCTYPE html>
<html lang="pt-BR">

<%- include('./parts/page-head', { title : 'Home', linkCSS : 'css/home.css', linkCSS2 : '', linkCSS3 : ''}) %>
<%- include('./parts/page-header') %>

<body>
    <div class="container home">

        <div class="content-home">

            <h1 class="hiperTitle homeTitle animate__animated animate__bounceInDown">PASS!</h1>
            <h2 class="sub">-- Bem vindo viajante --</h2>

            <div class="hr homehr"></div>

            <div class="intro">

                <div class="txt">
                    <p class="introtxt">Desde já agradecemos sua visita! </p>
                    <p class="introtxt"> A PASS! sempre se compromete a trazer o de melhor para os nossos clientes.</p>
                    <p class="introtxt"> Aqui você encontra os melhores planos e destinos para sua viagem!</p>
                </div>
                <div class="img"><img src="img/cont5.png" alt=""></div>
            </div>

            <div class="destinos">

                <h3 class="title dest">Aqui estão alguns dos nossos destinos</h3>
                <div class="places">

                    <div class="place paris">

                        <div class="img cid"><img src="img/paris.png" alt=""></div>
                        <p>Centro mundial de arte, moda, gastronomia e cultura. 
                            Sua paisagem urbana é cortada por avenidas largas 
                            e pelo rio Sena. A cidade é 
                            conhecida por monumentos como a Torre Eiffel e a Catedral de
                             Notre-Dame.</p>

                    </div>
                    <div class="place ny">

                        <div class="img"><img src="img/ny.png" alt=""></div>
                        <p>Entre seus pontos emblemáticos, destacam-se arranha-céus, 
                            como o Empire State Building, e o enorme Central Park. O teatro da 
                            Broadway fica em meio às luzes de neon da Times Square.</p>
                    </div>
                    <div class="place cancun">

                        <div class="img"><img src="img/cancun.png" alt=""></div>
                        <p>Cancún, uma cidade mexicana situada na Península de Iucatã, 
                            na costa do Mar do Caribe, é conhecida por suas praias, 
                            seus vários resorts e sua vida noturna. </p>

                    </div>

                </div>

                <div class="faca"><p class="facatxt">Não perca tempo e <a class="aHome" href="/contato">Faça já o seu pedido!</a></p></div>
            </div>

            <div class="hr homehr"></div>

            <div class="sobre-home">

                
                <p class="sobreTxt">A PASS! tem ótimas avaliações dos usuários,
                    entregando um atendimento de ponta, com recursos
                    e produtos incríveis.
                    Viagens e planos super acessíveis para todos.
                    Para saber mais acesse <a class="aHome" href="/sobre">Sobre Nós</a>. 

                </p>
                <div class="img"><img src="img/cont6.png" alt=""></div>
            </div>

        </div>

        
           
    </div>
    

</body>
<%- include('parts/footer') %>
</html>