<!DOCTYPE html>
<html lang="pt-BR">

<%- include('parts/page-head', { title : 'Termos & Condições', linkCSS : 'css/termos.css', linkCSS2 : '', linkCSS3 : ''}) %>

<body>
    
<%- include('parts/page-header', { }) %>
    
    <div class="container termos">

        <div class="content-termos">

            <h2 class="title term">Termos e Condições</h2>

           <div class="termosTxt"> 
               <p>Este site tem intenções estudantis, logo nenhum plano ou produto oferecido nele será entregue.</p>
               <p>EtecVAV - 2021 || Informática para internet 3ºD</p>
            </div>
        </div>

    </div>

<%- include('parts/footer') %>

</body>

</html>