<footer>
    <div class="content-footer">
        <div class="sociais"><a href="https//www.instagram.com"><i class="fab fa-instagram"></i></a><i class="fab fa-github"></i><i class="fab fa-facebook"></i></div>
    <nav>
<ul>
    <li><a href="/contato">Faça seu pedido</a></li>
    <li><a href="/sobre">Sobre</a></li>
    <li><a href="/suporte">Suporte</a></li>
    <li><a href="/admin">Admin</a></li>
</ul>
    </nav>
<div class="company"><p>- - - -  PASS © 2021  - - - -</p></div>

</div>
<script src="script/darkMode.js"></script>
</footer>