<header>
    <link rel="stylesheet" href='/css/page-header.css'>
        <div class="container">

            <nav id="header">

                <ul id="ulpai">
                    
                    <a href="/admin/home"> <i class="fas fa-home"> </i></a>

                </ul>

                <ul id="ulfilha">

                    <li><a href="/admin/suportes"> Suportes </a></li>
                    <li><a href="/admin/pedidos"> Pedidos </a></li>
                    <li><a href="/admin"> Sair </a></li>
                    
                        
                </ul>

                
            </nav>

        </div>

    </header>

    

</body>
