<header id="adm">

        <div class="container">

            <nav id="header">
                <li class="ponta i"><a href="/admin/home"> <i class="fas fa-home"> </i> </a></li>
                <ul id="ulpai">
                    
                    

               

                    <li><a href="/admin/suportes"> Suportes </a></li>
                    <li><a href="/admin/pedidos"> Pedidos </a></li>
                    <li><a href="/admin"> Sair </a></li>
                                           
                </ul>
                
            </nav>

        </div>

</header>
    

