<header id="adm">

    <nav id="header">

        <div class="mainCont">

            <ul id="ulpai">

                <li class="ponta i"><a href="/admin/home"> <i class="fas fa-home"> </i> </a></li>

                <li ><a href="/admin/suportes"> Suportes </a></li>
                <li><a href="/admin/pedidos"> Pedidos </a></li>
                <li><a href="/admin"> Sair </a></li>
                                        
            </ul>

        </div>

        <div class="toggle">
            <input id="switch" type="checkbox" name="theme">
            <label class="sw" for="switch">Toggle</label>
        </div>
    </nav>

    <script src="../script/scroll.js"></script>    

</header>
    

