<header>

        

            <nav id="header">
            <li class="ponta i"><a href="/"> <i class="fas fa-home"> </i> </a></li>
                <ul id="ulpai">

                    
                    <li><a href="/contato"> Faça seu pedido </a></li>
                    <li><a href="/sobre"> Sobre </a></li>
                    <li><a href="/suporte"> Suporte </a></li>
                    
                        
                </ul>
                <li class="ponta ii"><a href="/admin/"> Admin </a></li>
            </nav>

        

</header>

    