<header id="adm">

        

            <nav id="header">
                
                <ul id="ulpai">
                    
                    

               <li class="ind"><a href="/admin/home"> <i class="fas fa-home"> </i> </a></li>

                    <li ><a href="/admin/suportes"> Suportes </a></li>
                    <li><a href="/admin/pedidos"> Pedidos </a></li>
                    <li><a href="/admin"> Sair </a></li>
                                           
                </ul>
                
            </nav>

        

</header>
    

