<header id="adm">

    <div class="admCont">
        <a href="/admin/home"> <i class="fas fa-home">Home</i> </a>

        <nav id="header" >

            <ul id="ulpai">
                
                <li><a href="/admin/pedidos"> Pedidos </a></li>
                <li><a href="/admin/suportes"> Suportes </a></li>
                <li><a href="/admin/"> Sair </a></li>

            </ul>

        </nav>

        <button id="btnHamb"><i id="styleHamb" class="fas fa-bars">Menu</i></button> 

        <div class="toggle">
                <input id="switch" type="checkbox" name="theme">
                <label class="sw" for="switch">Toggle</label>
        </div>

         
    </div>

    <script src="script/scroll.js"></script>
    <script src="script/btnHamb.js"></script>

    <script src="../script/scroll.js"></script>
    <script src="../script/btnHamb.js"></script>

</header>

    