<header id="main">

    <div class="mainCont">
        <a href="/"> <i class="fas fa-home">Home</i> </a>

        <nav id="header" >

            <ul id="ulpai">
                
                <li><a href="/contato"> Faça seu pedido </a></li>
                <li><a href="/sobre"> Sobre </a></li>
                <li><a href="/suporte"> Suporte </a></li>

            </ul>

            <li class="ponta ii"><a href="/admin/"> Admin </a></li>

        </nav>

        <button id="btnHamb"><i id="styleHamb" class="fas fa-bars">Menu</i></button> 

        <div class="toggle">
                <input id="switch" type="checkbox" name="theme">
                <label class="sw" for="switch">Toggle</label>
        </div>

         
    </div>

    <script src="script/scroll.js"></script>
    <script src="script/btnHamb.js"></script>

    <script src="../script/scroll.js"></script>
    <script src="../script/btnHamb.js"></script>

</header>

    