<header id="main">

    <nav id="header">

        <div class="mainCont">

            <li class="ponta i"><a href="/"> <i class="fas fa-home"> </i></a></li>

            <ul id="ulpai">
                
                <li><a href="/contato"> Faça seu pedido </a></li>
                <li><a href="/sobre"> Sobre </a></li>
                <li><a href="/suporte"> Suporte </a></li>
                    
            </ul>

            <li class="ponta ii"><a href="/admin/"> Admin </a></li>
        </div>

        <div class="mainHamb">

            <h2 class="titleHamb">PASS</h2>

        </div>

        <div class="toggle">
            <input id="switch" type="checkbox" name="theme">
            <label class="sw" for="switch">Toggle</label>
        </div>

    </nav>
            
    <script src="script/scroll.js"></script>

</header>

    