<header>
    <link rel="stylesheet" href='/css/page-header.css'>
        <div class="container">

            <nav id="header">

                <ul id="ulpai">

                    <a href="/"> <i class="fas fa-home"> </i> </a>

                </ul>

                <ul id="ulfilha">

                    <li><a href="/contato"> Faça seu pedido </a></li>
                    <li><a href="/sobre"> Sobre </a></li>
                    <li><a href="/suporte"> Suporte </a></li>
                    <li><a href="/admin/"> Admin </a></li>
                        
                </ul>
                
            </nav>

        </div>

</header>

    