<%- include('../parts/page-head', { title : 'Login ADM', linkCSS : '../css/login-adm.css', linkCSS2 : '../css/page-head.css', linkCSS3 : '../css/normalize.css'}) %>
<body>
    <%- include('../parts/page-header') %>

    <div class="container homeAdm">
   <h2>Pedidos realizados pelos usuários</h2>

<ul>
    <li>aaa</li>
    <li>bbb</li>
    <li>ccc</l>
</ul>

    </div>

    

</body>
</html>   