<!DOCTYPE html>
<html lang="pt-BR">

<%- include('../parts/page-head', { title : 'Login ADM', linkCSS : '../css/home-adm.css'}) %>

<body>
    
    <%- include('../parts/page-headerAdm') %>

    <div class="container homeAdm">

        <h2>Home Adm</h2>

    </div>

    

</body>
</html>   