<!DOCTYPE html>
<html lang="pt-BR">

<%- include('../parts/page-head', { title : 'Login ADM', linkCSS : '../css/login-adm.css'}) %>

<body>

    <%- include('../parts/page-header') %>
    
    <div class="container login">

        <div id="local-login">

            <% if(userS){%>
                <div class="title login"><a >Login ADM </a><i class="fas fa-user"></i></div>
                <div class="logado">
    <p class="logado-user"> Você já estado logado como <%= userS %></p>
                <div class="logado-nav"><p><a href="/admin/home">Home Adm</a></p>
                <p><a href="/admin/logout">Logout</a></p></div></div>

            <%}else{%> 

                <div class="title login"><a >Login ADM </a><i class="fas fa-user"></i></div>
                <div id="box-login">
                    
                    

                    <form id="login-form" action="/admin/home" method="POST">
                        
                                <div class="flex-login">

                                    <li><label for="user">User</label>
                                        <input id="user" name="user" type="text" alt="User" placeholder="Digite o user"></li>

                                        <li><label for="senha">Senha</label>
                                            <input id="password" name="password" type="password" alt="Senha" placeholder="Digite o password"></li>

                                </div>

                    </form>

                    <button type="submit" form="login-form" class="submit"> <i class="far fa-check-circle"></i> </button>

                </div>
                
            <%} %>
            
        </div>
        
    </div>
   
</body>
<%- include('../parts/footer') %>

</html>   